@model X.PagedList.IPagedList<ShopBanDoGiaDung.Models.ChucVu>
@using System.Text.Json
@using ShopBanDoGiaDung.authorize
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
  
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var quyen = (List<ShopBanDoGiaDung.Models.Quyen>)ViewBag.quyen;
    var chucvu = (List<ShopBanDoGiaDung.Models.ChucVu>)ViewBag.chucvu;
    var A = (List<ShopBanDoGiaDung.Models.ActionT>)ViewBag.A;
    List<ChucVuQuyen> cvqa = HttpContextAccessor.HttpContext.Session.GetJson<List<ChucVuQuyen>>("HD") ?? new List<ChucVuQuyen>();
    List<AccountRole> data = HttpContextAccessor.HttpContext.Session.GetJson<List<AccountRole>>("QuyenTK") ?? new List<AccountRole>();
    var qh = data.FirstOrDefault(c => c.ActionName == "QuanLyQH");

}
@if (qh.MaA == 1)
{
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Full Screen Alert</title>
        <style>
            body {
                margin: 0;
                font-family: Arial, sans-serif;
            }

            .fullscreen-alert {
                display: none;
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.5);
                align-items: center;
                justify-content: center;
                color: #fff;
                text-align: center;
                z-index: 1000;
            }

            .alert-content {
                background-color: #343a40;
                padding: 20px;
                border-radius: 8px;
            }

            .close-btn {
                cursor: pointer;
                color: #fff;
                font-size: 20px;
                position: absolute;
                top: 10px;
                right: 10px;
            }
        </style>
    </head>
    <body>

        <div class="fullscreen-alert" id="fullscreenAlert">
            <div class="alert-content">
                <span class="close-btn" onclick="closeFullscreenAlert()">&times;</span>
				<h1>Truy cập thất bại</h1>
                <p>Bạn không có quyền truy cập trang này. Vui lòng liên hệ với chúng tôi để nhận hỗ trợ </p>
            </div>
        </div>

        <script>
            function showFullscreenAlert() {
                document.getElementById('fullscreenAlert').style.display = 'flex';
            }

            function closeFullscreenAlert() {
                document.getElementById('fullscreenAlert').style.display = 'none';
            }

            // Gọi hàm này khi trang web được tải
            document.addEventListener('DOMContentLoaded', function () {
                showFullscreenAlert();
            });
        </script>

    </body>
    </html>


}
else
{
    <div class="wrapper">

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">


                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">Quản lý quyền hạn của các chức vụ</h3>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <table id="example1" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                @foreach (var tenQ in cvqa.Select(item => item.TenQ).Distinct())
                                                {
                                                    <th>@tenQ</th>
                                                }
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var tenCV in cvqa.Select(item => item.TenCV).Distinct())
                                            {
                                                <tr>
                                                    <th>@tenCV</th>
                                                    @foreach (var tenQ in cvqa.Select(item => item.TenQ).Distinct())
                                                    {
                                                        var cellData = cvqa.FirstOrDefault(item => item.TenCV == tenCV && item.TenQ == tenQ);
                                                        <td>
                                                            @if (cellData != null)
                                                            {
                                                                <select name="Action" @(qh.MaA == 2 ? "disabled" : "") class="form-control"
                                                                         data-macv="@cellData.MaCv"
                                                                         data-maq="@cellData.MaQ"
                                                                         data-selected="@cellData.TenA"
                                                                        data-maa="@cellData.MaA">

                                                                    <option value="@cellData.TenA" selected>@cellData.TenA</option>
                                                                    @foreach (var a in A)
                                                                    {
                                                                        <option value="@a.MaA" >@a.TenA</option>
                                                                    }
                                                                </select>
                                                            }
                                                            else
                                                            {
                                                                <!-- Handle the case where cellData is null -->
                                                                <p>No data available</p>
                                                            }
                                                        </td>
                                                    }

                                                </tr>
                                            }
                                        </tbody>
                                    </table>

                                    <div class="row">
                                        <div class="col-sm-12 col-md-5">
                                            <div class="dataTables_info" id="example1_info" role="status" aria-live="polite">
                                                Danh sách từ @ViewBag.PageStartItem đến @ViewBag.PageEndItem trên tổng số @ViewBag.TotalItemCount chức vụ
                                            </div>
                                        </div>
                                        <ul class="pagination">

                                            @if (Model.HasPreviousPage)
                                            {
                                                <li class="page-item">
                                                    <a class="page-link" href="@Url.Action("QuanLyQH", new { page = Model.PageNumber - 1 })">Previous</a>
                                                </li>

                                            }
                                            <li class="page-item  @(1 == Model.PageNumber ? "active" : "")">
                                                <a class="page-link" href="@Url.Action("QuanLyQH", new { page = 1 })">1</a>
                                            </li>
                                            @if (Model.PageNumber > 3)
                                            {
                                                <li class="page-item">
                                                    <span class="page-link">...</span>
                                                </li>
                                            }
                                            @for (int i = Model.PageNumber - 1; i <= Model.PageNumber + 1; i++)
                                            {
                                                if (i > 1 && i < Model.PageCount)
                                                {
                                                    <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                                                        <a class="page-link" href="@Url.Action("QuanLyQH", new { page = i })">@i</a>
                                                    </li>
                                                }
                                            }
                                            @if (Model.PageNumber < Model.PageCount - 1)
                                            {
                                                <li class="page-item">
                                                    <span class="page-link">...</span>
                                                </li>
                                            }
                                            @if (Model.PageCount > 1)
                                            {
                                                <li class="page-item  @(Model.PageCount == Model.PageNumber ? "active" : "")">
                                                    <a class="page-link" href="@Url.Action("QuanLyQH", new { page = Model.PageCount })">@Model.PageCount</a>
                                                </li>
                                            }
                                            @if (Model.HasNextPage)
                                            {

                                                <li class="page-item">
                                                    <a class="page-link" href="@Url.Action("QuanLyTK", new { page = Model.PageNumber + 1 })">Next</a>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card-header -->
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </section>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('select[name="Action"]').change(function () {
                var macv = $(this).data('macv');
                var maq = $(this).data('maq');
                var maa = $(this).data('maa');
                var selectedValue = $(this).data('selected');
                var newValue = $(this).val();

                console.log('macv:', macv);
                console.log('maq:', maq);
                console.log('maa:', maa);
                console.log('selectedValue:', selectedValue);
                console.log('newValue:', newValue);

                if (selectedValue !== newValue) {
                    $.ajax({
                        url: '@Url.Action("SuaQH", "Admin")',
                        type: 'POST',
                        data: { macv: macv, maq: maq, maa: maa, newValue: newValue },
                        success: function (data) {
                            console.log('ChucVu updated successfully', data);
                        },
                        error: function () {
                            console.log('Error updating ChucVu');
                        }
                    });
                }
            });
        });
       

    </script>

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>

    <script src="~/Admin/dist/js/adminlte.min.js"></script>

}

