@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor
@{
     @* ViewBag.Title = "AllProduct"; *@
     Layout = "~/Views/Shared/_Layout.cshtml";
    @* var sp = (List<ShopBanDoGiaDung.Models.Sanpham>)ViewBag.sanpham; *@
    var sp = (QuanLyShopDoGiaDung.Common.PaginatedList<ShopBanDoGiaDung.Models.Sanpham>)ViewBag.sanpham;
    string sessionvalue = HttpContextAccessor.HttpContext.Session.GetString("email");
}
<div class="shoes-grid">
     <div class="products" style="margin-top: 28px; }">
          <h5 class="latest-product">TẤT CẢ SẢN PHẨM</h5>
     </div>
     <div  class="product-left">
          @foreach (var it in sp.Data)
          {
               <div class="col-md-4 chain-grid" style="min-height: 406.29px;">
                    <a asp-controller="Home" asp-action="ProductDetail" asp-route-id="@it.MaSp"><img class="img-responsive chain" src="~/BigShopee/images/@it.Anh1" alt=" "></a>
                    <span class="star"> </span>
                    <div class="grid-chain-bottom">
                         <h6><a asp-controller="Home" asp-action="ProductDetail" asp-route-id="@it.MaSp">@it.TenSp</a></h6>
                         <div class="star-price">
                              <div class="dolor-grid">
                                   <span class="actual">@it.GiaTien</span>

                                   @*<span class="reducedfrom">400$</span>*@
                                   <br /><span>Đã bán @it.SoLuongDaBan</span>                              
                              </div>
                              @if (sessionvalue != null)
                              {
                                   <a class="now-get get-cart" onclick="addItem(@it.MaSp)">THÊM VÀO GIỎ</a>
                              }
                              else
                              {
                                   <a  asp-controller="Access" asp-action="Login" class="now-get get-cart" >THÊM VÀO GIỎ</a>
                              }
                              <script>
                                   function addItem(ma) {
                                        var productid = parseInt(ma);

                                        $.ajax({
                                             url: '/Cart/AddItem',
                                             data: {
                                                  productId: productid
                                             },
                                             type: 'POST',
                                             dataType: 'json',
                                             success: function (res) {
                                                  if (res.status == true) {
                                                       Swal.fire({
                                                            position: 'center',
                                                            icon: 'success',
                                                            title: 'Thêm sản phẩm vào giỏ hàng thành công',
                                                            showConfirmButton: false,
                                                            timer: 1500
                                                       })
                                                  } else {
                                                       Swal.fire({
                                                            position: 'center',
                                                            icon: 'error',
                                                            title: 'Xin lỗi, sản phẩm bạn vừa chọn đang tạm hết hàng',
                                                            showConfirmButton: false,
                                                            timer: 1500
                                                       })
                                                  }
                                             }

                                        });
                                   }
                              </script>
                              <div class="clearfix"> </div>
                         </div>
                    </div>
               </div>
          }

      <div class="clearfix"> </div>
     </div>
     @await Html.PartialAsync("_Pagination",sp)
</div>
<script>
     function formatcurrency(cur) {
          return new Intl.NumberFormat('vi-vn', { style: 'currency', currency: 'vnd' }).format(cur);
     }
     const moneylist = document.querySelectorAll(".actual")
     for (let i = 0; i < moneylist.length; i++) {
          moneylist[i].innerHTML = formatcurrency(Number(moneylist[i].innerHTML))
     }
</script>