
@{
    ViewBag.Title = "MyOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var dstatca = (List<ShopBanDoGiaDung.Models.MyOrder>)ViewBag.dstatca;
    var dschuathanhtoan = (List<ShopBanDoGiaDung.Models.MyOrder>)ViewBag.dschuathanhtoan;
    var dschoxacnhan = (List<ShopBanDoGiaDung.Models.MyOrder>)ViewBag.dschoxacnhan;
    var dsdangvanchuyen = (List<ShopBanDoGiaDung.Models.MyOrder>)ViewBag.dsdangvanchuyen;
    var dsdahoanthanh = (List<ShopBanDoGiaDung.Models.MyOrder>)ViewBag.dsdahoanthanh;
    var dsdahuy = (List<ShopBanDoGiaDung.Models.MyOrder>)ViewBag.dsdahuy;

}
<div class=" single_top">
     <h2 style="margin-top: -15px">ĐƠN HÀNG CỦA TÔI</h2>
     <div class="single_grid">
          <div id="cartContent">
               <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#home">Tất cả đơn hàng (@dstatca.Count())</a></li>
                    <li><a data-toggle="tab" href="#menu0">Chưa thanh toán (@dschuathanhtoan.Count())</a></li>
                    <li><a data-toggle="tab" href="#menu1">Chờ xác nhận (@dschoxacnhan.Count())</a></li>
                    <li><a data-toggle="tab" href="#menu2">Đang vận chuyển (@dsdangvanchuyen.Count())</a></li>
                    <li><a data-toggle="tab" href="#menu3">Đã hoàn thành (@dsdahoanthanh.Count())</a></li>
                    <li><a data-toggle="tab" href="#menu4">Đã hủy (@dsdahuy.Count())</a></li>
               </ul>
               <div class="tab-content">
                    <div id="home" class="tab-pane fade in active">
                         <table class="table table-hover" id="showtable">
                              <thead class="thead-light">
                                   <tr>
                                        <td>Mã đơn hàng</td>
                                        <td>Người nhận</td>
                                        <td>Địa chỉ giao hàng</td>
                                        <td>Ngày mua</td>
                                        <td>Tổng tiền</td>
                                        <td>Tình trạng</td>
                                        <td></td>
                                   </tr>
                              </thead>
                              <tbody>
                                   @foreach (var item in dstatca)
                                   {
                                   <tr>
                                        <td>@item.MaDonHang</td>
                                        <td>@item.NguoiNhan</td>
                                        <td>@item.DiaChi</td>
                                        <td>@item.NgayMua.Value.ToShortDateString()</td>
                                        <td>@item.TongTien.Value.ToString("N0") VND</td>
                                        @if (item.TinhTrang == 0)
                                        {
                                             <td>Chưa thanh toán</td>
                                        }
                                        @if (item.TinhTrang == 1)
                                        {
                                             <td>Chờ xác nhận</td>
                                        }
                                        @if (item.TinhTrang == 2)
                                        {
                                             <td>Đang giao hàng</td>
                                        }
                                        @if (item.TinhTrang == 3)
                                        {
                                             <td>Đã hoàn thành</td>
                                        }
                                        @if (item.TinhTrang == 4)
                                        {
                                             <td>Đã hủy</td>
                                        }
                                        <td><a class="btn btn-success" data-toggle="modal" id="viewbtn" data-target="#showmodal">Chi tiết</a></td>

                                   </tr>
                                   }
                              </tbody>
                         </table>
                         <div id="showmodal" class="modal fade" role="dialog">
                              <div class="modal-dialog modal-dialog-centered modal-xl" role="document" style="display: flex; align-items: center; height: 100%; margin-bottom: 0; margin-top: 0">

                              </div>
                         </div>
                         <script>
                          $("#showtable").on("click", "#viewbtn", function () {
                           var id = $(this).closest("tr").find("td").eq(0).html();
                           $.ajax({
                             url: "@Url.Action("MyOrderDetail", "Home")",
                              data: { id: id },
                                success: function (data) {
                                $("#showmodal .modal-dialog").html(data);
                    /* $("#showmodal").modal('show')*/
                                 }
                            });
                          });
                         </script>
                    </div>
                    <div id="menu0" class="tab-pane fade">
                         <table class="table table-hover" id="showtable1">
                              <thead class="thead-light">
                                   <tr>
                                        <td>Mã đơn hàng</td>
                                        <td>Người nhận</td>
                                        <td>Địa chỉ giao hàng</td>
                                        <td>Ngày mua</td>
                                        <td>Tổng tiền</td>
                                        <td>Tình trạng</td>
                                        <td></td>
                                   </tr>
                              </thead>
                              <tbody>
                                   @foreach (var item in dschuathanhtoan)
                                   {
                                   <tr>
                                        <td>@item.MaDonHang</td>
                                        <td>@item.NguoiNhan</td>
                                        <td>@item.DiaChi</td>
                                        <td>@item.NgayMua.Value.ToShortDateString()</td>
                                        <td>@item.TongTien.Value.ToString("N0") VND</td>
                                        @if (item.TinhTrang == 0)
                                        {
                                             <td>Chưa thanh toán</td>
                                        }
                                        @if (item.TinhTrang == 1)
                                        {
                                             <td>Chờ xác nhận</td>
                                        }
                                        @if (item.TinhTrang == 2)
                                        {
                                             <td>Đang giao hàng</td>
                                        }
                                        @if (item.TinhTrang == 3)
                                        {
                                             <td>Đã hoàn thành</td>
                                        }
                                        @if (item.TinhTrang == 4)
                                        {
                                             <td>Đã hủy</td>
                                        }
                                        <td><a class="btn btn-success" data-toggle="modal" id="viewbtn1" data-target="#showmodal1">Chi tiết</a></td>
                                        <td><a class="btn btn-default" href="@Url.Action("ThanhToanLai", "Cart",new { ma = item.MaDonHang })">Thanh toán ngay</a></td>
                                        <td><a class="btn btn-danger" data-toggle="modal" id="HuyDonHang" >Hủy</a></td>
                                   </tr>
                                   }
                              </tbody>
                         </table>
                         <div id="showmodal1" class="modal fade" role="dialog">
                              <div class="modal-dialog modal-dialog-centered modal-xl" role="document" style="display: flex; align-items: center; height: 100%; margin-bottom: 0; margin-top: 0">

                              </div>
                         </div>
                         <script>
                          $("#showtable1").on("click", "#viewbtn1", function () {
                           var id = $(this).closest("tr").find("td").eq(0).html();
                           $.ajax({
                             url: "@Url.Action("MyOrderDetail", "Home")",
                              data: { id: id },
                                success: function (data) {
                                $("#showmodal1 .modal-dialog").html(data);
                    /* $("#showmodal").modal('show')*/
                                 }
                            });
                          });
                               $("#showtable1").on("click", "#HuyDonHang", function () {
                           var id = $(this).closest("tr").find("td").eq(0).html();
                           $.ajax({
                             url: "@Url.Action("HuyDonHang", "Home")",
                              data: { ma: id },
                                success: function (res) {
                                     if (res.status == true) {
                                          window.location.href = "/Home/MyOrder";
                                     }
                               
                    /* $("#showmodal").modal('show')*/
                                 }
                            });
                          });
                         </script>
                    </div>
                    <div id="menu1" class="tab-pane fade">
                         <table class="table table-hover" id="showtable2">
                              <thead class="thead-light">
                                   <tr>
                                        <td>Mã đơn hàng</td>
                                        <td>Người nhận</td>
                                        <td>Địa chỉ giao hàng</td>
                                        <td>Ngày mua</td>
                                        <td>Tổng tiền</td>
                                        <td>Tình trạng</td>
                                        <td></td>
                                   </tr>
                              </thead>
                              <tbody>
                                   @foreach (var item in dschoxacnhan)
                                   {
                                   <tr>
                                        <td>@item.MaDonHang</td>
                                        <td>@item.NguoiNhan</td>
                                        <td>@item.DiaChi</td>
                                        <td>@item.NgayMua.Value.ToShortDateString()</td>
                                        <td>@item.TongTien.Value.ToString("N0") VND</td>
                                        @if (item.TinhTrang == 0)
                                        {
                                             <td>Chưa thanh toán</td>
                                        }
                                        @if (item.TinhTrang == 1)
                                        {
                                             <td>Chờ xác nhận</td>
                                        }
                                        @if (item.TinhTrang == 2)
                                        {
                                             <td>Đang giao hàng</td>
                                        }
                                        @if (item.TinhTrang == 3)
                                        {
                                             <td>Đã hoàn thành</td>
                                        }
                                        @if (item.TinhTrang == 4)
                                        {
                                             <td>Đã hủy</td>
                                        }
                                        <td><a class="btn btn-success" data-toggle="modal" id="viewbtn2" data-target="#showmodal2">Chi tiết</a></td>
                                        <td><a class="btn btn-danger" id="btnHuy">Hủy</a></td>

                                   </tr>
                                   }
                              </tbody>
                         </table>
                         <div id="showmodal2" class="modal fade" role="dialog">
                              <div class="modal-dialog modal-dialog-centered modal-xl" role="document" style="display: flex; align-items: center; height: 100%; margin-bottom: 0; margin-top: 0">

                              </div>
                         </div>
                         <script>
                          $("#showtable2").on("click", "#viewbtn2", function () {
                           var id = $(this).closest("tr").find("td").eq(0).html();
                           $.ajax({
                             url: "@Url.Action("MyOrderDetail", "Home")",
                              data: { id: id },
                                success: function (data) {
                                $("#showmodal2 .modal-dialog").html(data);
                    /* $("#showmodal").modal('show')*/
                                 }
                            });
                          });
                              $("#showtable2").on("click", "#btnHuy", function () {
                           var id = $(this).closest("tr").find("td").eq(0).html();
                           $.ajax({
                             url: "@Url.Action("HuyDonHang", "Home")",
                              data: { ma: id },
                                success: function (res) {
                                     if (res.status == true) {
                                          window.location.href = "/Home/MyOrder";
                                     }

                    /* $("#showmodal").modal('show')*/
                                 }
                            });
                          });
                         </script>
                    </div>
                    <div id="menu2" class="tab-pane fade">
                         <table class="table table-hover" id="showtable3">
                              <thead class="thead-light">
                                   <tr>
                                        <td>Mã đơn hàng</td>
                                        <td>Người nhận</td>
                                        <td>Địa chỉ giao hàng</td>
                                        <td>Ngày mua</td>
                                        <td>Tổng tiền</td>
                                        <td>Tình trạng</td>
                                        <td></td>
                                   </tr>
                              </thead>
                              <tbody>
                                   @foreach (var item in dsdangvanchuyen)
                                   {
                                   <tr>
                                        <td>@item.MaDonHang</td>
                                        <td>@item.NguoiNhan</td>
                                        <td>@item.DiaChi</td>
                                        <td>@item.NgayMua.Value.ToShortDateString()</td>
                                        <td>@item.TongTien.Value.ToString("N0") VND</td>
                                        @if (item.TinhTrang == 0)
                                        {
                                             <td>Chưa thanh toán</td>
                                        }
                                        @if (item.TinhTrang == 1)
                                        {
                                             <td>Chờ xác nhận</td>
                                        }
                                        @if (item.TinhTrang == 2)
                                        {
                                             <td>Đang giao hàng</td>
                                        }
                                        @if (item.TinhTrang == 3)
                                        {
                                             <td>Đã hoàn thành</td>
                                        }
                                        @if (item.TinhTrang == 4)
                                        {
                                             <td>Đã hủy</td>
                                        }
                                        <td><a class="btn btn-success" data-toggle="modal" id="viewbtn3" data-target="#showmodal3">Chi tiết</a></td>
                                        <td><a class="btn btn-danger" id="btnDaNhanHang">Đã nhận được hàng</a></td>

                                   </tr>
                                   }
                              </tbody>
                         </table>
                         <div id="showmodal3" class="modal fade" role="dialog">
                              <div class="modal-dialog modal-dialog-centered modal-xl" role="document" style="display: flex; align-items: center; height: 100%; margin-bottom: 0; margin-top: 0">

                              </div>
                         </div>
                         <script>
                          $("#showtable3").on("click", "#viewbtn3", function () {
                           var id = $(this).closest("tr").find("td").eq(0).html();
                           $.ajax({
                             url: "@Url.Action("MyOrderDetail", "Home")",
                              data: { id: id },
                                success: function (data) {
                                $("#showmodal3 .modal-dialog").html(data);
                    /* $("#showmodal").modal('show')*/
                                 }
                            });
                          });
                               $("#showtable3").on("click", "#btnDaNhanHang", function () {
                           var id = $(this).closest("tr").find("td").eq(0).html();
                           $.ajax({
                             url: "@Url.Action("DaNhanHang", "Home")",
                              data: { ma: id },
                                success: function (res) {
                                     if (res.status == true) {
                                          window.location.href = "/Home/MyOrder";
                                     }
                    /* $("#showmodal").modal('show')*/
                                 }
                            });
                          });
                         </script>
                    </div>
                    <div id="menu3" class="tab-pane fade">
                         <table class="table table-hover" id="showtable4">
                              <thead class="thead-light">
                                   <tr>
                                        <td>Mã đơn hàng</td>
                                        <td>Người nhận</td>
                                        <td>Địa chỉ giao hàng</td>
                                        <td>Ngày mua</td>
                                        <td>Tổng tiền</td>
                                        <td>Tình trạng</td>
                                        <td></td>
                                   </tr>
                              </thead>
                              <tbody>
                                   @foreach (var item in dsdahoanthanh)
                                   {
                                   <tr>
                                        <td>@item.MaDonHang</td>
                                        <td>@item.NguoiNhan</td>
                                        <td>@item.DiaChi</td>
                                        <td>@item.NgayMua.Value.ToShortDateString()</td>
                                        <td>@item.TongTien.Value.ToString("N0") VND</td>
                                        @if (item.TinhTrang == 0)
                                        {
                                             <td>Chưa thanh toán</td>
                                        }
                                        @if (item.TinhTrang == 1)
                                        {
                                             <td>Chờ xác nhận</td>
                                        }
                                        @if (item.TinhTrang == 2)
                                        {
                                             <td>Đang giao hàng</td>
                                        }
                                        @if (item.TinhTrang == 3)
                                        {
                                             <td>Đã hoàn thành</td>
                                        }
                                        @if (item.TinhTrang == 4)
                                        {
                                             <td>Đã hủy</td>
                                        }
                                        <td><a class="btn btn-success" data-toggle="modal" id="viewbtn4" data-target="#showmodal4">Chi tiết</a></td>
                                        @*<td><a class="btn btn-danger" data-target="#showmodal2">Đã nhận được hàng</a></td>*@

                                   </tr>
                                   }
                              </tbody>
                         </table>
                         <div id="showmodal4" class="modal fade" role="dialog">
                              <div class="modal-dialog modal-dialog-centered modal-xl" role="document" style="display: flex; align-items: center; height: 100%; margin-bottom: 0; margin-top: 0">

                              </div>
                         </div>
                         <script>
                          $("#showtable4").on("click", "#viewbtn4", function () {
                           var id = $(this).closest("tr").find("td").eq(0).html();
                           $.ajax({
                             url: "@Url.Action("MyOrderDetail1", "Home")",
                              data: { id: id },
                                success: function (data) {
                                $("#showmodal4 .modal-dialog").html(data);
                    /* $("#showmodal").modal('show')*/
                                 }
                            });
                          });
                         </script>
                    </div>
                    <div id="menu4" class="tab-pane fade">
                         <table class="table table-hover" id="showtable5">
                              <thead class="thead-light">
                                   <tr>
                                        <td>Mã đơn hàng</td>
                                        <td>Người nhận</td>
                                        <td>Địa chỉ giao hàng</td>
                                        <td>Ngày mua</td>
                                        <td>Tổng tiền</td>
                                        <td>Tình trạng</td>
                                        <td></td>
                                   </tr>
                              </thead>
                              <tbody>
                                   @foreach (var item in dsdahuy)
                                   {
                                   <tr>
                                        <td>@item.MaDonHang</td>
                                        <td>@item.NguoiNhan</td>
                                        <td>@item.DiaChi</td>
                                        <td>@item.NgayMua.Value.ToShortDateString()</td>
                                        <td>@item.TongTien.Value.ToString("N0") VND</td>
                                        @if (item.TinhTrang == 0)
                                        {
                                             <td>Chưa thanh toán</td>
                                        }
                                        @if (item.TinhTrang == 1)
                                        {
                                             <td>Chờ xác nhận</td>
                                        }
                                        @if (item.TinhTrang == 2)
                                        {
                                             <td>Đang giao hàng</td>
                                        }
                                        @if (item.TinhTrang == 3)
                                        {
                                             <td>Đã hoàn thành</td>
                                        }
                                        @if (item.TinhTrang == 4)
                                        {
                                             <td>Đã hủy</td>
                                        }
                                        <td><a class="btn btn-success" data-toggle="modal" id="viewbtn5" data-target="#showmodal5">Chi tiết</a></td>
                                        @*<td><a class="btn btn-danger" data-target="#showmodal2">Đã nhận được hàng</a></td>*@

                                   </tr>
                                   }
                              </tbody>
                         </table>
                         <div id="showmodal5" class="modal fade" role="dialog">
                              <div class="modal-dialog modal-dialog-centered modal-xl" role="document" style="display: flex; align-items: center; height: 100%; margin-bottom: 0; margin-top: 0">

                              </div>
                         </div>
                         <script>
                          $("#showtable5").on("click", "#viewbtn5", function () {
                           var id = $(this).closest("tr").find("td").eq(0).html();
                           $.ajax({
                             url: "@Url.Action("MyOrderDetail", "Home")",
                              data: { id: id },
                                success: function (data) {
                                $("#showmodal5 .modal-dialog").html(data);
                    /* $("#showmodal").modal('show')*/
                                 }
                            });
                          });
                         </script>
                    </div>
               </div>
               

          </div>
     </div>

</div>